:root {
  --white: white;
  --font-general: Inter, sans-serif;
  --black: #1d1617;
  --text-h1: 2.5em;
  --text-subtitle: 1.67em;
  --dark-grey: #7b6f72;
  --text-body: 1.39em;
  --light-grey: #dddada;
  --text-small: .83em;
  --textbox-small: 40.97em;
  --font-styled: Charter, "Times New Roman", sans-serif;
  --textbox-medium: 61.81em;
}

body {
  background-color: var(--white);
  font-family: var(--font-general);
  color: var(--black);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  font-family: var(--font-general);
  color: var(--black);
  font-size: var(--text-h1);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 800;
  line-height: 1.2;
}

h2 {
  font-family: var(--font-general);
  font-size: var(--text-subtitle);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

h3 {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: .3em;
  font-family: Inter, sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1;
}

h4 {
  background-image: linear-gradient(175deg, var(--dark-grey), var(--black) 65%);
  letter-spacing: .055em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Ppneueworld;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.4;
}

h5 {
  background-image: linear-gradient(175deg, var(--dark-grey), var(--black) 50%);
  letter-spacing: .2em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: .83em;
  font-weight: 700;
  line-height: 1;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.46em;
  font-weight: 700;
  line-height: 1.4;
}

p {
  color: var(--black);
  font-size: var(--text-body);
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.45;
}

a {
  text-decoration: none;
}

ul {
  color: var(--black);
  font-size: var(--text-body);
  margin-bottom: 1em;
  padding-top: 1em;
  padding-left: 1.7em;
  font-weight: 300;
  line-height: 1.45;
  list-style-type: square;
}

li {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .3em;
  font-size: 1.25em;
  font-weight: 700;
  display: block;
}

blockquote {
  border-left: .3em solid #e2e2e2;
  margin-bottom: 1em;
  padding: 1em 2em 1em 1.7em;
  font-size: 1.2em;
  line-height: 1.6;
}

.container {
  width: 100%;
  padding-top: 2.08em;
  padding-bottom: 2.08em;
}

.container.is--hero {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.container.is--footer {
  z-index: 999;
  border-top: 1px solid var(--light-grey);
  margin-top: 2.08em;
  padding-top: 0;
  padding-bottom: 0;
}

.html {
  width: 0;
  height: 0;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.page-wrapper {
  width: 100%;
  position: relative;
}

.grid {
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.grid.is--hero {
  justify-content: space-between;
  height: 100%;
}

.grid.is--footer2 {
  justify-content: flex-end;
  height: 12em;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.gap-48 {
  width: 100%;
  height: 3.33em;
}

.section {
  z-index: 999;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.section.is--hero {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

.hero-head {
  text-align: center;
  justify-content: center;
  width: 100%;
}

.hero-body {
  z-index: 4;
  grid-column-gap: var(--text-small);
  grid-row-gap: var(--text-small);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.hero-head-wrapper {
  z-index: 0;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  display: flex;
  position: relative;
}

.hero-head-wrapper.is--2 {
  z-index: 2;
  background-color: var(--white);
  position: absolute;
}

.hero-head-wrapper.is--1 {
  z-index: 1;
}

.hero-head-wrapper.is--3 {
  z-index: 3;
}

.hero-head-wrapper.is--4 {
  z-index: 4;
  background-color: var(--white);
  position: absolute;
}

.text-lighter {
  color: var(--light-grey);
}

.grid-item-small {
  width: var(--textbox-small);
  padding: 1.39em;
  display: block;
}

.grid-item-small.is--hero {
  width: var(--textbox-small);
  position: relative;
}

.text-small {
  font-size: var(--text-small);
  line-height: 1.2;
}

.text-small.is--imglabel {
  margin-top: .5em;
  font-style: italic;
}

.text-small.is--popup {
  text-align: center;
  flex: none;
  font-size: .7em;
  font-weight: 500;
  position: static;
}

.text-small.is--popup.is--copiedtext {
  display: none;
  position: static;
}

.gap-12 {
  height: var(--text-small);
  width: 100%;
}

.gap-32 {
  width: 100%;
  height: 2.22em;
}

.floatingbutton {
  background-color: var(--black);
  border-radius: .65em;
  width: 2.5em;
  height: 2.5em;
}

.floatingbutton.is--hover {
  background-color: rgba(29, 22, 23, .65);
  position: absolute;
}

.floatingbutton.is--project1 {
  background-color: #3a8e1c;
}

.floating-button-wrapper {
  width: 2.5em;
  height: 2.5em;
  position: static;
  overflow: visible;
}

.link-wrapper {
  z-index: 99;
  grid-column-gap: var(--text-small);
  grid-row-gap: var(--text-small);
  align-items: flex-start;
  display: flex;
  position: relative;
}

.floating-container {
  border-radius: var(--text-small);
  background-color: var(--white);
  flex-direction: column;
  align-items: flex-start;
  padding: 1.39em;
  display: flex;
  box-shadow: 0 .6em 1em rgba(89, 80, 82, .25);
}

.styled {
  font-family: var(--font-styled);
  font-weight: 400;
  line-height: 1.2;
}

.project-head-wrapper {
  grid-column-gap: var(--text-small);
  grid-row-gap: var(--text-small);
  align-items: center;
  margin-left: -3.33em;
  display: flex;
}

.grid-item-medium {
  width: var(--textbox-medium);
  grid-column-gap: var(--text-small);
  grid-row-gap: var(--text-small);
  justify-content: center;
  padding: 1.39em;
  display: flex;
}

.image {
  width: 100%;
}

.image.is--bw {
  filter: saturate(0%);
}

.image.is--shadowed {
  box-shadow: 0 .2em 1em rgba(0, 0, 0, .2);
}

.bold-text {
  font-weight: 600;
}

.left-column, .right-column {
  width: 50%;
}

.text-darkgrey {
  color: var(--dark-grey);
}

.is--hero2nd {
  text-align: right;
  width: 100%;
}

.scrollbar {
  z-index: 999;
  background-color: var(--light-grey);
  width: 100vw;
  height: 3px;
  position: fixed;
}

.is--white {
  color: var(--white);
}

.gap-8 {
  width: 100%;
  height: .5em;
}

.floatingbutton-wrapper {
  z-index: 0;
  background-color: var(--dark-grey);
  border-radius: .65em;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  font-size: 1em;
  display: flex;
  position: relative;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
  box-shadow: 0 .3em 1em rgba(89, 80, 82, .5);
}

.floatingbutton-wrapper.is--btt {
  z-index: 999;
  margin-bottom: 1.39em;
  margin-right: 1.39em;
  position: fixed;
}

.floatingbutton-tooltip {
  background-color: #f7f7f7;
  border-radius: 50em;
  margin-top: -1.7em;
  padding: .25em .5em;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
  box-shadow: 0 .3em 1em rgba(89, 80, 82, .25);
}

.floatingbutton-tooltip.is--btt {
  width: 5em;
  margin-top: 0;
  margin-right: -.8em;
  top: auto;
  right: 154%;
}

.floatingbutton-tooltip.is--linkedin {
  margin-right: -.65em;
}

.floatingbutton-tooltip.is--email {
  width: 6em;
  margin-right: -1.7em;
  overflow: hidden;
}

.floatingbutton-tooltip.is--rightnav1 {
  width: 5em;
  margin-top: 0;
  top: auto;
  bottom: auto;
  left: 120%;
  right: auto;
}

.floatingbutton-tooltip.is--rightnav2 {
  width: 5.8em;
  margin-top: 0;
  top: auto;
  bottom: auto;
  left: 120%;
  right: auto;
}

.tag-link {
  border-bottom: 1px solid #fff;
}

.icon-wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.text-body {
  margin-bottom: 1em;
}

.one-column {
  width: 80%;
}

.line {
  background-color: var(--light-grey);
  width: 100%;
  height: 1px;
  margin-bottom: 2em;
}

.line.is--rightnav {
  margin-top: 1em;
  margin-bottom: 1em;
}

.nav {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.right-nav-text {
  color: var(--light-grey);
  font-size: var(--text-small);
  width: 17.8em;
  font-weight: 400;
  display: inline-block;
}

.right-nav-wrapper {
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 14px;
  display: flex;
  position: absolute;
  right: 1%;
  transform: rotate(90deg);
}

.icon {
  max-width: 1.6em;
}

.icon-top {
  max-width: 1.5em;
}

.download-text {
  color: #3977b9;
  font-size: var(--text-small);
  font-weight: 300;
  display: inline-block;
}

.left-nav-wrapper {
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-left: 1.39em;
  display: block;
  position: absolute;
  left: 0%;
}

.text-linkblue {
  color: #3977b9;
}

@media screen and (max-width: 991px) {
  body {
    font-size: .619375em;
  }

  .container {
    width: 100vw;
    padding-left: 3em;
    padding-right: 3em;
  }

  .floatingbutton.is--hover, .floatingbutton-tooltip.is--btt, .floatingbutton-tooltip.is--linkedin, .floatingbutton-tooltip.is--email {
    opacity: 0;
  }

  .floatingbutton-tooltip.is--rightnav1, .floatingbutton-tooltip.is--rightnav2 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 1em;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }

  a, ul {
    font-size: 1.2em;
  }

  .container {
    padding-left: 3.39em;
    padding-right: 3.39em;
  }

  .grid {
    align-items: flex-start;
  }

  .grid.is--footer2 {
    flex-direction: row;
    align-items: stretch;
    padding-left: 0;
    padding-right: 0;
  }

  .gap-48 {
    font-size: 16px;
  }

  .section.is--hero {
    max-height: none;
  }

  .hero-head {
    display: none;
  }

  .grid-item-small, .grid-item-small.is--hero {
    width: 100%;
  }

  .text-small {
    text-align: center;
    font-size: 14px;
  }

  .gap-32 {
    font-size: 10px;
  }

  .link-wrapper {
    justify-content: center;
  }

  .styled {
    font-size: 16px;
  }

  .project-head-wrapper {
    justify-content: center;
    margin-left: 0;
  }

  .grid-item-medium {
    grid-column-gap: 2.78em;
    grid-row-gap: 2.78em;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .left-column, .right-column {
    width: 100%;
  }

  .tag-link {
    font-size: 1em;
  }

  .one-column {
    width: 100%;
  }

  .nav {
    display: none;
  }

  .download-text {
    font-size: 14px;
  }

  .link-block {
    justify-content: center;
    align-items: stretch;
    width: 100%;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 1em;
  }

  h4 {
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
  }

  ul {
    padding-left: 1em;
    font-size: 1em;
  }

  .container {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .gap-48 {
    font-size: 10px;
  }

  .section {
    max-height: none;
  }

  .grid-item-small {
    width: 100%;
  }

  .text-small {
    text-align: center;
    font-size: 10px;
  }

  .gap-32 {
    font-size: 8px;
  }

  .link-wrapper {
    justify-content: center;
  }

  .floating-container {
    padding: .99em;
  }

  .project-head-wrapper {
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    margin-left: 0;
  }

  .grid-item-medium {
    width: 100%;
  }

  .tag-link {
    font-size: 1em;
  }

  .download-text {
    font-size: 10px;
  }
}


@font-face {
  font-family: 'Charter';
  src: url('../fonts/Charter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Charter';
  src: url('../fonts/Charter-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Charter';
  src: url('../fonts/Charter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}