body {
  background-color: #fff;
  font-family: Sofiapro, sans-serif;
  color: #000;
  font-size: 1vw;
  line-height: 1.6em;
  font-weight: 300;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 7.5em;
  line-height: 0.9;
  font-weight: 700;
  letter-spacing: -0.035em;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 2.86em;
  line-height: 0.82;
  font-weight: 700;
  letter-spacing: -2.2px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 1.67em;
  line-height: 0.82;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.67em;
  line-height: 0.82;
  font-weight: 300;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.78em;
  font-weight: 300;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 300;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.83em;
  line-height: 1.87;
}

a {
  font-size: 1em;
  text-decoration: none;
}

blockquote {
  margin-bottom: 1em;
  padding: 1em 2em;
  border-left: 0.4em solid #e2e2e2;
  font-size: 140%;
  line-height: 1.6;
}

.html {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.column-text-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.column-text-container.is--aboutme {
  margin-top: 4.06em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-text-container.is--title {
  margin-top: 5.65em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-text-container.is--aboutme_content-head {
  margin-bottom: 1.04em;
}

.column-text-container.is--hero {
  margin-bottom: 7em;
}

.column-text-container.is--resume {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-text-container.is--aboutme_contentsub {
  margin-bottom: 2.76em;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-text-container.is--footer {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-text-container.is--abouttitle {
  margin-top: 5.65em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}

.hero {
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: block;
  height: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.section.is--nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1000;
  display: block;
  height: 0em;
  min-height: 0px;
  padding-right: 0em;
  padding-left: 0em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.section.is--footer {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  height: auto;
  min-height: 0px;
  margin-top: 7em;
  padding-right: 0em;
  padding-left: 0em;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.section.is--about {
  display: block;
}

.section.is--portfolio {
  display: block;
}

.logo {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  margin-right: 0em;
  margin-left: 0em;
  padding-bottom: 0.2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menu_top-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.menu_top-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  padding-left: 0em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu {
  width: 100%;
  height: 5.56em;
}

.menu_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 5.375em;
  padding-left: 5.375em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu_lottie-icon {
  height: 2em;
}

.menu_lottie {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 0em;
  margin-left: 0.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu_full {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 3;
  display: none;
  width: 100vw;
  height: 100vh;
}

.menu_full-contain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menu_full_link-contain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  max-height: 100vh;
  padding-right: 5.375em;
  padding-left: 5.375em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.gradient_b {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 0;
  width: 50.666875em;
  height: 29.914375em;
  margin-right: -14.9em;
  border-radius: 50%;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #6573b9, transparent);
  opacity: 0.2;
  -webkit-filter: blur(3.3em);
  filter: blur(3.3em);
}

.gradient_r {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 0;
  width: 29.914375em;
  height: 29.914375em;
  margin-top: 12.4em;
  margin-right: -9.6em;
  border-radius: 50%;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #de746a, transparent);
  opacity: 0.2;
  -webkit-filter: blur(3.3em);
  filter: blur(3.3em);
}

.gradient_b2 {
  position: fixed;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 0;
  width: 50.666875em;
  height: 29.914375em;
  margin-bottom: 13em;
  margin-left: -25.2em;
  border-radius: 50%;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #6384a8, transparent);
  opacity: 0.2;
  -webkit-filter: blur(3.3em);
  filter: blur(3.3em);
  -webkit-transform: rotate(-8.75deg);
  -ms-transform: rotate(-8.75deg);
  transform: rotate(-8.75deg);
}

.gradient_r2 {
  position: fixed;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 0;
  width: 34.49em;
  height: 34.49em;
  margin-left: -12.1em;
  border-radius: 50%;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #de8d6a, transparent);
  opacity: 0.2;
  -webkit-filter: blur(3.3em);
  filter: blur(3.3em);
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.logo_text-top {
  color: #000;
  font-weight: 300;
}

.menu_full-header {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5.56em;
  margin-bottom: 0em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-line-1 {
  width: 5em;
  height: 1px;
  margin-bottom: 0.7em;
  background-color: #000;
}

.left-line-1.is--portfolio {
  position: relative;
  margin-bottom: 0.5em;
  margin-left: 0.7em;
}

.menu_full-link-index {
  margin-right: 1.55em;
  margin-bottom: 0.5em;
  margin-left: 1.55em;
}

.menu_full-link-margin {
  width: 6.55em;
}

.right-line-1 {
  height: 1px;
  margin-bottom: 0.7em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #000;
}

.right-line-1.is--aboutmeheadertext {
  margin-bottom: -0.9em;
  margin-left: 4.125em;
}

.left-line-3 {
  width: 9em;
  height: 1px;
  margin-bottom: 0.7em;
  background-color: #000;
}

.left-line-2 {
  width: 34.5em;
  height: 1px;
  margin-bottom: 0.7em;
  background-color: #000;
}

.accent-left {
  position: relative;
  z-index: 0;
  width: 1.64em;
  margin-bottom: 1.3em;
}

.accent-right {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 0;
  width: 4.24em;
  margin-bottom: 7em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.h-h1 {
  position: absolute;
  z-index: 3;
  margin-top: -1.1em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 7.5em;
  font-weight: 600;
  white-space: nowrap;
}

.hero-button {
  position: absolute;
  display: block;
}

.hero-button.top {
  z-index: 2;
  display: block;
  color: #fff;
}

.hero-button-container {
  position: relative;
  display: none;
  margin-top: 1.72em;
}

.button-circle {
  position: absolute;
  z-index: 0;
  width: 3.5em;
  height: 3.5em;
  margin-top: -0.6em;
  margin-left: 5.3em;
  border-radius: 100vw;
  background-color: #283747;
}

.hero-bottom-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2.08em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #131a2d;
}

.hero-bottom-container.is--bottom {
  border-bottom: 1px solid #131a2d;
}

.hero-bottom-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #131a2d;
  text-align: center;
}

.hero-bottom-text.is--resume {
  margin-left: 0.7em;
  color: #6384a8;
}

.section_content.is--aboutme {
  width: 31.41em;
  margin-right: 3.13em;
}

.section_content.is--aboutme-sub {
  width: 21.46em;
}

.aboutme_content-text {
  margin-bottom: 2.76em;
  font-size: 0.78em;
}

.backtotop-container {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 0.7em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.8;
  color: #6384a8;
  font-size: 0.625em;
  text-align: center;
}

.background-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  overflow: hidden;
  width: 100%;
}

.portfolio-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.06em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.portfolio-item {
  position: relative;
  z-index: 2;
  width: 21.04em;
  height: 18.54em;
  margin-right: 2.29em;
}

.portfolio-item-img {
  position: absolute;
  width: 18.13em;
  margin-left: 2.92em;
}

.portfolio-item-header {
  position: relative;
  width: 50%;
  height: 2em;
  margin-top: 0.7em;
  line-height: 0.9;
}

.portfolio-item-text {
  position: relative;
  display: block;
  padding-right: 0.7em;
  color: #131a2d;
  font-size: 0.73em;
  line-height: 1.5em;
  font-weight: 400;
}

.portfolio-item-textheader {
  position: relative;
  margin-top: 0.3em;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 1.09em;
  font-weight: 700;
}

.portfolio-item-button {
  margin-top: 0.7em;
}

.h-h2 {
  position: absolute;
  z-index: 3;
  margin-top: -0.2em;
  margin-left: 3.8em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 7.5em;
  font-weight: 600;
  text-align: left;
  letter-spacing: -8px;
  white-space: nowrap;
}

.hero-button-text1 {
  color: #131a2d;
}

.gradient_r3 {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 0;
  width: 24.02625em;
  height: 15.019375em;
  margin-top: 8.6em;
  margin-right: -10em;
  border-radius: 50%;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #de8d6a, transparent);
  opacity: 0.2;
  -webkit-filter: blur(3.3em);
  filter: blur(3.3em);
}

.container {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3.23em;
  padding-right: 21.35em;
  padding-left: 21.35em;
}

.container.is--hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 11.9em;
  padding-left: 11.9em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container.is--hero-nav {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  max-width: none;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0em;
  padding-left: 0em;
}

.container.is--portfolio {
  padding-right: 0em;
  padding-left: 0em;
}

.hero-header-container {
  position: relative;
  width: 100%;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.hero-header-container.bottom {
  z-index: 0;
}

.hero-header-container.top {
  z-index: 5;
  color: transparent;
}

.hero-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.hero-text-container {
  padding-left: 1.67em;
}

.blue {
  color: #6384a8;
}

.hero-text {
  max-width: 24.48em;
  line-height: 1.5;
}

.hero-img-container {
  position: relative;
  z-index: 1;
  width: 33.76em;
  margin-bottom: -17em;
  opacity: 0.88;
}

.portfolio-title-container {
  padding-right: 21.35em;
  padding-left: 21.35em;
}

.logo_text-bottom {
  color: #000;
  font-size: 0.52em;
  line-height: 0.9;
  font-weight: 300;
}

.menu-link {
  color: #000;
  font-size: 6em;
  line-height: 0.85;
  white-space: nowrap;
}

.cursor {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  -webkit-transition: opacity 200ms ease, font-size 200ms ease;
  transition: opacity 200ms ease, font-size 200ms ease;
  font-size: 12px;
}

.cursor_dot {
  width: 1em;
  height: 1em;
  border-radius: 100vw;
  background-color: #000;
}

.resume-arrow {
  width: 0.5em;
  margin-left: 0.2em;
}

.white {
  color: #fff;
}

.stars {
  position: fixed;
  left: 12.1vh;
  top: 13.8vh;
  right: auto;
  bottom: auto;
  width: 86.41em;
  opacity: 1;
}

.aboutme-img {
  width: 21.88em;
  margin-bottom: 2.76em;
}

.vertical-line {
  width: 1px;
  height: 4em;
  margin-right: 1.3em;
  background-color: #000;
}

.aboutme_contentsub-head {
  margin-bottom: 0.29em;
  font-size: 1.09em;
}

.aboutme_contentsub-text {
  color: #6384a8;
  font-size: 0.78em;
}

.vertical-line2 {
  width: 1px;
  height: 2.7em;
  margin-right: 1.3em;
  background-color: #000;
}

.backtotop-lower {
  position: absolute;
  z-index: 1;
  width: 2.2em;
  height: 2.2em;
  margin-top: 0.4em;
  border-radius: 100vw;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #283747 8%, transparent);
  opacity: 0.5;
  -webkit-filter: blur(0.3em);
  filter: blur(0.3em);
}

.backtotop-upper {
  position: absolute;
  z-index: 2;
  width: 2em;
  height: 2em;
  border-radius: 100vw;
  background-color: #fff;
}

.backtotop-img {
  position: absolute;
  z-index: 3;
  width: 0.7em;
  opacity: 0.8;
}

.backtotop-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2em;
  height: 2em;
  margin-right: 5.375em;
  margin-bottom: 2.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer_icon {
  height: 0.83em;
  padding-right: 0.4em;
  padding-left: 0.4em;
  opacity: 0.8;
}

.aboutme_contactlink {
  color: #6384a8;
}

.highlight {
  background-color: rgba(99, 132, 168, 0.3);
}

.aboutme_sublink {
  color: #6384a8;
}

.portfolio-item-textlink {
  position: relative;
  padding-right: 0.7em;
  color: #131a2d;
  font-size: 0.73em;
  line-height: 1.5em;
  font-weight: 400;
}

.portfolio-textcontainer {
  display: block;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 14px;
  }

  .menu_top {
    padding-right: 0em;
    padding-left: 0em;
  }
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica-light-587ebe5a59211.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-BoldOblique.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Recoleta';
  src: url('../fonts/Recoleta-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Recoleta';
  src: url('../fonts/Recoleta-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Recoleta';
  src: url('../fonts/Recoleta-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url('../fonts/sofiapro-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}