@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap");

body {
  background-repeat: repeat;
  background-size: 600px;
  overflow-y: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hidden {
  display: none;
}

.semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.content-max-width {
  margin: auto;
  padding: 0 24px;
  max-width: 1040px;
}

a {
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
}

a.link {
  transition: 0.5s ease;
}

a.link:hover {
  color: #9EB2B0;
}

.site-container .site-title {
  text-align: center;
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.site-container .site-title h1 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

.site-container .site-title h3 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.nav-container {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.nav.nav-tabs {
  padding: 16px 0 16px;
  text-align: center;
  display: block;
  border-bottom: none;
}

ul.nav.nav-tabs li {
  display: inline-block;
}

.site-nav.nav-tab {
  text-align: center;
  width: 130px;
  padding: 6px 0;
  margin: 0 5px;
  display: block;
  color: #5257a3;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.4s ease;
}

.site-nav.nav-tab:hover {
  color: #9EB2B0;
  border-bottom: 1px solid #9EB2B0;
  text-decoration: none;
}

